@model ShopOnline.Models.SanPham
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="col-lg-3 col-md-6 col-sm-12 pb-1" style="max-width:33.33%">
    <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="height: 300px;">
            <img class="img-fluid w-100" src="@Model.HinhAnhDd" alt="@Model.TenSp" style="height: 100%; object-fit: cover;">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
            <h6 class="text-truncate mb-3">@Model.TenSp</h6>
            <div class="d-flex justify-content-center">
                @if (Model.MinGia == Model.MaxGia)
                {
                    <h6>₫@String.Format("{0:#,0.000}", Model.MaxGia)</h6>
                }
                else
                {
                    <h6>
                        <span>₫@String.Format("{0:#,0.000}", Model.MinGia)</span>
                        <span> - </span>
                            <span>₫@String.Format("{0:#,0.000}", Model.MaxGia)</span>
                    </h6>
                }
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
            <a asp-controller="DetailProduct" asp-action="ChiTietSP" asp-route-masp="@Model.MaSp" class="btn btn-sm text-dark p-0">
                <i class="fa-solid fa-eye"></i>Chi tiết
            </a>
            @* @if (HttpContextAccessor.HttpContext.Session.GetString("Username") != null)
            { *@
                <a asp-controller="DetailProduct" asp-action="ChiTietSP" asp-route-masp="@Model.MaSp" class="btn btn-sm text-dark p-0" onclick="return checkBeforeAddToCart()">
                    <i class="fa-solid fa-cart-shopping"></i>Giỏ hàng
                </a>
            @* } *@
           @*  else
            {
                <a asp-controller="Access" asp-action="Login" class="btn btn-sm text-dark p-0" onclick="return redirectToLogin()">
                    <i class="fa-solid fa-cart-shopping"></i>Giỏ hàng
                </a>
            } *@
            
        </div>
    </div>
</div>
<script>
    function checkBeforeAddToCart() {
        alert('Vui lòng chọn màu sắc, kích thước và số lượng trước khi thêm vào giỏ hàng.');
    }
    function redirectToLogin(){
        alert('Vui lòng đăng nhập trước khi thêm vào giỏ hàng.');
    }
</script>
